html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}


.app--main__main-list{
  list-style: none;
  display: block;
  padding:0;
  cursor: pointer;
}

.app--main__main-list li:not(last-of-type) {
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

.app--main__main-list  > li:hover{
  background: #efefef;
}


.app--main__main-checked-list{
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.app--main__main-checked-list li {
  padding:10px;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
.app--main__main-checked-list li:last-of-type{
  border-bottom: 1px solid #efefef;

}

.app--main__main-checked-list li > strong{
  float: right;
}
