<!DOCTYPE html>
<html ng-app="panel">
<head>
  <title>Firma DRQ</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="angular-translate.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>

<div class="container" ng-controller="StoreController as store">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8">     
        <h1>Firma DRQ</h1>
        <p>Firma przyszłoći</p>

        <div class="panel">
          <h2>{{ 'HEADLINE' | translate }}</h2>
          <p>{{ 'INTRO_TEXT' | translate }}</p>
        </div>
        <div ng-controller="TranslateController">
          <button ng-click="changeLanguage('de')" translate="BUTTON_TEXT_DE"></button>
          <button ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></button>
        </div>

      </div>
     <div class="col-sm-4">
       <img class="img-responsive" src="logo.png" alt="" width="200" height="200"> 
     </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      
      <section ng-controller="PanelController as panel" >
          <ul class="nav nav-pills">
            <li ng-class="{ active:panel.isSelected(1) }"> 
              <a href ng-click="panel.selectTab(1)">Firma</a>
            </li>
            <li ng-class="{ active:panel.isSelected(2) }"> 
              <a href ng-click="panel.selectTab(2)">Projekty</a> 
            </li>
            <li ng-class="{ active:panel.isSelected(3)}"> 
              <a href ng-click="panel.selectTab(3)">Kontakt</a> 
            </li>
          </ul>
        

      <div class="panel" ng-show="panel.isSelected(1)" >
        <h3>Firma</h3>
        <p>
          Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do druków na komputerach osobistych, jak Aldus PageMaker
        </p>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)" >
          <h3>Projekty</h3>
          <blockquote>Wszystkie projekty</blockquote>
      </div>
      <div class="panel" ng-show="panel.isSelected(3)" >
        <h3>Kontakt</h3>
        <blockquote>
          <strong>Adres: </strong> ul. Coren 19, Kraków <br>
          <strong>Telefon: </strong> 899-333-121
        </blockquote>
      </div>
      </section> 
    </div>
  
    <div class="col-sm-6">
      <h3>Formularz</h3>
       
        <div class="list-group">
          <div class="list-group-item" ng-repeat="product in store.products">
        
            <ul>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                  <strong>{{review.name}} </strong>
                  {{review.body}}
                  <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
                </blockquote>
              </li>
            </ul>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
              <blockquote >
                <strong>{{reviewCtrl.review.name}}</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>
    
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.name" type="usr" class="form-control" placeholder="Podaj swoje imię..." title="Imię" />
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Wprowadź treść wiadomości..." title="Treść"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="Podaj swój mail..." title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit" />
              </fieldset>
            </form>
          </div>
        </div>          
    </div>
  </div>

    <div class="well"> 
      <address>
        <strong>www.drq.pl</strong><br>
        ul. Drq 100, New York<br>
        <abbr title="Telefon">T:</abbr> (123) 456-7890
      </address> 
    </div>
</div>

</body>
</html>
