<section class="content" ng-hide="dialogShown.user">
	<div class="row">
		<div class="col-md-12">		
			<div id="wrap">
				<form action="" autocomplete="off">
				  <input id="search" ng-model="searchText" name="search" type="text" placeholder="Wpisz słowo"><input id="search_submit" value="Rechercher" type="submit">
				</form>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-lg-4 col-sm-6" ng-repeat="client in klienci | toArray : false  | orderBy: 'last_name' | filter:searchText">
				<div class="grid">						
					<div class="user-panel">
						<div class="pull-left">
							<img src="{{client.avatar}}" class="img-circle" alt="User Image" width="55" height="55">
						</div>
						<div class="pull-left info">
							<p> {{client.first_name}} {{client.last_name}}</p>
							<p> {{client.phone_number}}</p>
							<a> {{client.seniority_level}}</a>
						</div>
						<div class="pull-right">
							<a ng-click= "showModal('user', client)" class="btn btn-default btn-circle"><i class="fa fa-arrow-right fa-lg"></i></a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-show="dialogShown.user">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">	
					<img style="display: block; margin: 0 auto" src="{{pageClient.avatar}}" alt="User Image" height="200" width="200">
					<p><strong>{{pageClient.first_name}} {{pageClient.last_name}}</strong></p>
					<p>{{pageClient.seniority_level}}</p>
					<label class="control-label" for="text">Data urodzenia:</label><br>
					<div date class="date" ng-model="pageClient.birthdate">
						<input ng-readonly="usersReadonly" type="text" ng-model="pageClient.birthdate" class="form-control" ng-change="ageCounter()">
						<span class="add-on"><i class="icon-th"></i></span>
					</div>			
			</div>
			<div class="col-md-4">
				<label class="control-label" for="text">Imię:</label><br>
				<input type="text" class="form-control" id="text" name="name" ng-model="pageClient.first_name" ng-readonly="usersReadonly"> 
				<label class="control-label" for="text">Nazwisko:</label><br>
				<input type="text" class="form-control" id="text" name="name" ng-model="pageClient.last_name" ng-readonly="usersReadonly">
			</div>
			<div class="col-md-8">
				<label class="control-label" for="text">Opis:</label><br>
				<textarea rows="10" class="form-control" id="textarea" ng-model="pageClient.description" ng-readonly="usersReadonly"> 
				</textarea>
			</div>
			<div class="col-md-12" >
				<button ng-hide="usersReadonly" class="btn btn-default btn-success pull-right" ng-click="saveUser(pageClient)">Zapisz zmiany</button> 
				<button class="btn btn-default btn-default pull-right" ng-click="close()">Powrót</button> 
			</div>
		</div>	
	</div>
</section>

