<section class="content" ng-hide="dialogShown.club">
	<div class="row">
		<div class="col-md-12">
			<div class="col-lg-4 col-xs-6 pull-right">
				<button  type="submit" class="btn btn-default add " ng-click="showModal('clubs',club)" style="float:right">Dodaj klub</button>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="club in clubs | toArray : false | filter:searchText">
				<div class="grid">						
					<div class="user-panel">
							<div class="pull-left">
								<img src="" class="img-circle" alt="User Image" height="65">
							</div>
							<div class="pull-left info">
								<p><strong>{{club.name}}</strong></p>
								<a href="mailto: {{club.email}}">{{club.email}}</a>
								<a href="{{club.website}}" target="_blank">{{club.website}}</a>
								<p> Liczba kortów: {{club.courts.length}}</p>
								<p> {{club.location.city}}, {{club.location.address_line_1}}</p>
							</div>
							<div class="pull-right">
								<a ng-click= "showModal('club', club)" class="btn btn-default btn-circle"><i class="fa fa-arrow-right fa-lg"></i></a>
							</div>							
					</div>	 
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-show="dialogShown.club">
	<div class="row">
		<div class="col-md-12">
			<h1>{{pageClub.name}}</h1>
			<div class="col-md-7">
				<div class="col-md-6">		
					<img ng-hide="file" src="{{pageClub.avatar}}" class="thumb" style="width: 100%;">		
					<img ngf-src="file" class="thumb" style="width: 100%;">
					<br><br>
		             <button class="btn btn-default btn-primary btn-block" ng-click="selectFile()">Wgraj zdjęcie</button>
		             <input ngf-select="fileNameChaged($file)" type="file" style="display:none" 
		                id="file" name='file' ng-model="file" ngf-accept="'image/*'" />

				</div>
				<div class="col-md-6">
					<label class="control-label" for="text">Nazwa:</label><br>
					<input type="text" class="form-control" id="text" name="name" ng-model="pageClub.name"> 
					<label class="control-label" for="text">Adres:</label><br>
					<textarea rows="15" class="form-control" id="textarea" ng-model="pageClub.description"> 
					</textarea>
				</div>
			</div>
			<div class="col-md-5">
					<label class="control-label" for="text">Zdjęcia</label><br>
					<div class="col-md-4" ng-show="editClub"> 
						<form>
							<div style="height: 150px; overflow-y: scroll;">
							<div class="form-group" ng-repeat="img in image | limitTo:9" ng-show="($index)%3==0">
								<img src="{{img.file}}" style="width: 100%;"/>
							</div>
							</div>
						</form>
					</div>
					<div class="col-md-4" ng-show="editClub">
						<form>
							<div class="form-group" ng-repeat="img in image | limitTo:9" ng-show="($index)%3==1">
								<img src="{{img.file}}" style="width: 100%;"/>
							</div>
						</form>
					</div>
					<div class="col-md-4" ng-show="editClub">
						<form>
							<div class="form-group" ng-repeat="img in image | limitTo:9" ng-show="($index)%3==2">
								<img src="{{img.file}}" style="width: 100%;"/>
							</div>
						</form>
					</div>

					<div flow-init>	
						<div class="col-md-4" ng-hide="editClub"> 
							<form>
								<div class="form-group">
									<img flow-img="$flow.files[0]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[1]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[2]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[9]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[10]" style="width: 100%;"/>
								</div>
							</form>
						</div>
						<div class="col-md-4" ng-hide="editClub">
							<form>
								<div class="form-group">
									<img flow-img="$flow.files[3]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[4]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[5]" style="width: 100%;"/>
								</div>
							</form>
						</div>
						<div class="col-md-4" ng-hide="editClub">
							<form>
								<div class="form-group">
									<img flow-img="$flow.files[6]" style="width: 100%;"/>
								</div>
								<div class="form-group">
									<img flow-img="$flow.files[7]" style="width: 100%;"/>
								</div>
								<div class="form-group">
						    		<img flow-img="$flow.files[8]" style="width: 100%;"/>   		
								</div>
							</form>
						</div>
						<button class="btn btn-default btn-primary btn-block"  ng-click="selectFile2($flow.files)">Dodaj zdjęcie</button>
		             	<input type="file" id="files" name='files' ng-model="files" style="display:none" flow-btn/>
					</div>
  				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-8">
				<label class="control-label" for="text">Pola</label><br>
				<div style="height: 250px; overflow-y: scroll;">	
					<div ng-repeat="x in pageClub.courts | orderBy : 'id'">
						<div class="user-panel">
							<div class="col-sm-4" >
								<label class="control-label" for="text">Nazwa:</label>
								<input type="text" class="form-control" id="text" name="name" ng-model="x.name">
								<select class="form-control" name="surface" ng-model="x.surface">	
									<option ng-repeat="s in surface" value="{{s.value}}">{{s.name}}</option>
								</select>
								<form ng-model="x.kind">
									<input ng-model="x.kind" type="radio" name="kind" value="indoor" checked>kryte<br>
									<input ng-model="x.kind" type="radio" name="kind" value="outdoor"> nie kryte<br>
								</form>

								<a class="btn" ng-click="remove($index)" href="#/klub">
	  								<i class="fa fa-trash-o fa-2x"></i>
	  							</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button class="btn btn-default btn-primary" ng-click= "showModal2('court')">Dodaj pole</button>
			<button class="btn btn-default" ng-click="saveClub(pageClub)">Zapisz zmiany</button>
			<button class="btn btn-default" ng-click="close()">Powrót</button>
		</div>	

		<modal-dialog show="dialogShown.court">
			<div class="col-sm-12">
				<h3><b>Pola</b></h3>
				<BR>	
			  <form class="form-horizontal" role="form" name="userForm" novalidate>
				<div class="col-sm-12">
					<div class="col-sm-6">
					    <div class="form-group">
							<label class="control-label col-sm-4" for="text">Nazwa:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control " id="text" name="name" ng-model="addCourt.name" required> 
								<span style="color:red" ng-show="form.name.$touched && form.name.$invalid">
									<span ng-show="form.name.$error.required">Nazwa wymgana!</span>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4" for="text">Stawka:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="text" name="hourly_rate" ng-model="addCourt.hourly_rate" required> 
								<span style="color:red" ng-show="form.hourly_rate.$touched && form.hourly_rate.$invalid">
									<span ng-show="form.hourly_rate.$error.required">Stawka wymagana!</span>
								</span>
							</div>
						</div>
					</div>
				</div>	
			  </form>
	
				<div class="col-md-12">
						<div class="text-center">
							<button class="btn btn-default" ng-click="close()">Anuluj</button>
							<button ng-hide="editClub" type="submit" class="btn btn-default btn-success" ng-click="saveCourt(addCourt)">Zapisz</button>
						</div>
				</div>
			</div>
		</modal-dialog>
	</div>
</section>