<section class="content" ng-hide="dialogShown.coaches">
	<div class="row">
		<div class="col-xs-12">			
			<div class="col-lg-4 col-xs-6">
				<div id="wrap">
				  <form action="" autocomplete="off">
				  <input id="search" ng-model="searchText" name="search" type="text" placeholder="Wpisz wyszukiwane słowo"><input id="search_submit" value="Rechercher" type="submit">
				  </form>
				</div>
			</div>
			<div class="col-lg-4 col-xs-6 pull-right" style="margin-top: 10px;">
				<button  type="submit" class="btn btn-default add" ng-click="showModal()">Dodaj trenera</button>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="trener in trenerzy | toArray : false | orderBy: 'last_name' | filter:searchText">
				<div class="grid">					
					<div class="user-panel">
						<div class="pull-left">
							<img src="{{trener.avatar}}" class="img-circle" alt="User Image" height="60" width="60">
						</div>
						<div class="pull-left info">	
							<p>{{trener.first_name}} {{trener.last_name}} </p>
							<p>{{trener.phone_number}}</p>
							<p>{{trener.email}}</p>
							<p><star-rating ng-model="rating"></star-rating></p>						
						</div>
						<div class="pull-right"> 
							<a ng-click= "showModal(trener)" class="btn btn-default btn-circle edit"><i class="fa fa-arrow-right fa-lg"></i></a>
						</div>
						<div class="col-md-12">
							<div class="pull-left">
								<button type="button" class="btn btn-default btn-block">Zobacz grafik</button>
							</div>
							<div class="pull-left">
								<button type="button" class="btn btn-default btn-block">Podopieczni</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-show="dialogShown.coaches">
	<div class="row">
		<div class="col-md-12">
			<form name="trenerForm" class="form-horizontal" novalidate>
				<div class="col-md-4">	
					<img style="display: block; margin: 0 auto" src="{{choseCoach.avatar}}" alt="User Image" height="200" width="200">
					<p><strong>{{choseCoach.first_name}} {{choseCoach.last_name}}</strong></p>
					<p>{{choseCoach.seniority_level}}</p>
					<p><star-rating ng-model="rating"></star-rating></p>
					<label class="control-label" for="text">Data urodzenia:</label><br>
					<div datetimez class="date" ng-model="choseCoach.birthdate">
						<input type="text" name="birthdate" ng-model="choseCoach.birthdate" class="form-control" ng-change="ageCounter()" required>
						<div ng-show="trenerForm.$submitted || trenerForm.birthdate.$touched">
							<div class="error" ng-show="trenerForm.birthdate.$error.required">Data urodzenia wymagana</div>
						</div>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>		
				</div>		
				<div class="col-md-4" >
					<label class="control-label" for="text">Imię:</label><br>
					<input type="text" class="form-control" id="text" name="first_name" ng-model="choseCoach.first_name" style="color:blue;" required> 
					<div ng-show="trenerForm.$submitted || trenerForm.first_name.$touched">
						<div class="error" ng-show="trenerForm.first_name.$error.required">Imie wymagane</div>
					</div>
					<label class="control-label" for="text">Nazwisko:</label><br>
					<input type="text" class="form-control" id="text" name="last_name" ng-model="choseCoach.last_name" required>
					<div ng-show="trenerForm.$submitted || trenerForm.last_name.$touched">
						<div class="error" ng-show="trenerForm.last_name.$error.required">Nazwisko wymagane</div>
					</div>
					<div ng-if="!editCoach">				
						<label class="control-label" for="text">Hasło:</label><br>
						<input type="password" class="form-control" id="pw1" name="pw1" ng-model="choseCoach.password" ng-minlength="minlength" required >
						<div ng-show="trenerForm.$submitted || trenerForm.pw1.$touched">
							<div class="error" ng-show="login.pw1.$error.required">Hasło jest wymagane</div>
							<div class="error" ng-hide="trenerForm.pw1.$valid">Hasło musi mieć minimum 8 znaków</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<label class="control-label" for="text">Adres email:</label><br>
					<input ng-change="getUserEmail(choseCoach.email)" type="email" name="email" ng-model="choseCoach.email" class="form-control" required/>
					<div ng-show="trenerForm.$submitted || trenerForm.email.$touched">
						<div class="error" ng-show="trenerForm.email.$error.required">Email jest wymagany</div>
						<div class="error" ng-show="trenerForm.email.$error.email">Błędny adres email</div>
						<div class="error" ng-if="usersMail">Email już istnieje </div>
					</div>
					<label class="control-label" for="text">Klub:</label><br>
					<div >
						<select class="form-control" name="singleSelect" ng-model="choseCoach.club_id" style="color:blue;" ng-disabled="!adminAccount" required>
							<option value=""></option>
							<option ng-repeat="club in clubs" value="{{club.id}}">{{club.name}}</option>
						</select>
						<div ng-show="trenerForm.$submitted || trenerForm.singleSelect.$touched">
							<div class="error" ng-show="trenerForm.singleSelect.$error.required">Klub jest wymagany</div>
						</div>
					</div>	
					<div ng-if="!editCoach">
						<label class="control-label" for="text">Potwierdź Hasło:</label><br>
						<input type="password" class="form-control" id="pw2" name="pw2" ng-model="choseCoach.password_confirmation" pw-check="pw1" required>
						<div ng-show="trenerForm.$submitted || trenerForm.pw2.$touched">
							<div class="error" ng-show="trenerForm.pw2.$error.required">Hasło jest wymagane</div>
							<div class="error" ng-show="trenerForm.pw2.$error.pwmatch">Hasła nie pasują do siebie </div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<label class="control-label" for="text">Opis:</label><br>
					<textarea rows="9" class="form-control" id="textarea" ng-model="choseCoach.description"> 
					</textarea>
					<br>
				</div>
				<div class="col-md-12" >
					<button class="btn btn-default btn-success pull-right" ng-click="save(choseCoach)" type="submit">Zapisz zmiany</button> 
					<button type="button" class="btn btn-default btn-default pull-right" ng-click="closeForm()">Powrót</button> 
				</div>
			</form>
		</div>
	</div>
</section>

