<section>
	<form class="form-inline" role="form" ng-show="raport">
        <div class="form-group">
            <label>Poczatek:</label>
            <div class="input-append date form_datetime">
                <div raport class="date" ng-model="start_time">
                    <input type="text" name="birthdate" ng-model="start_time" class="form-control">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Koniec:</label>
            <div class="input-append date form_datetime">
                <div raport class="date" ng-model="end_time">
                    <input type="text" name="birthdate" ng-model="end_time" class="form-control">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default"  ng-click="generateRaport(start, end)">Generuj statystyki</button>
        <input type="checkbox" ng-model="raport">Statystyki stałe
    </form>
	
    <form class="form-inline" role="form" ng-hide="raport">
        <button type="button" class="btn btn-default"  ng-click="weekRaport()">Week</button>
        <button type="button" class="btn btn-default"  ng-click="monthRaport()">Month</button>
        <input type="checkbox" ng-model="raport">Statystyki czasowe
    </form>

    <highchart config="chartColumn"></highchart>
</section>