<div class="login">
    <div class="inner">
       <div class="row">
          <div class="col-lg-12">
            <div class="account-wall">
              <form role="form" name="form" class="form-form" novalidate>             
                <input ng-model="email" type="email" name="email" class="form-control" placeholder="Wpisz email" required autofocus>
                <div ng-show="form.$submitted || form.email.$touched">
                  <div class="error" ng-show="form.email.$error.required">Email wymagany!</div>
                  <div class="error" ng-show="form.email.$error.email">Błędny Email!</div>
                </div>
                <input ng-model="pass" type="pass" name="pass" class="form-control" placeholder="Wpisz hasło" required>
                <div ng-show="form.$submitted || form.pass.$touched">
                  <div class="error" ng-show="form.pass.$error.required">Hasło wymagane!</div>
                </div>        
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">Zaloguj się</button>
                <a href="" class="pull-right need-help"></a><span class="clearfix"></span>
              </form>
            </div>
          </div>
       </div>
    </div>
</div>